name: Demo Pipeline
 
on: push
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
 
      - name: setup SDK Azhar
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
 
      - name: Restore dependencies
        run: dotnet restore
 
      - name: Build
        run: dotnet build
 
      - name: Pack
        run: dotnet pack --output ./nupkg
     
      - name: Upload artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: nupkg
          path: ./nupkg/*.nupkg
     
 
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: nupkg
          path: ./nupkg/*.nupkg
     
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          creds: ${{ secrets.AZURE_CRED }}
     
      - name: Deploy to Azure Web App
        uses: Azure/webapps-deploy@v2.2.17
        with:
          app-name: 'your-app-name'
          package: './nupkg/*.nupkg'
