name: Publish .NET package to GitHub Packages

on:
  push:
   branches: [master]

permissions: 
   contents: read
   packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Run custom action
        uses: ./.github/myactionjs/build
      
      - name: Restore
        run: dotnet restore
        
      - name: Build
        run: dotnet build

      - name: Pack
        run: dotnet pack --output ./demo

      
