name: Starter Pipeline #Worflow name

on: 
- push #trigger
- workflow_dispatch #manual

jobs: 
  test:
    runs-on: ubuntu-latest #runner
    steps:
      - name: Hello World Command
        run: echo "Hello World!" > demo.txt
        # use run to execute shell commands directly on the runner
      - run: cat demo.txt
